/* GOV.UK customisations to implement beta internal header pattern (see https://home-office-digital-patterns.herokuapp.com/header) */

@media (min-width: 769px){
  #global-header .header-wrapper .header-global .header-logo {
    width: auto;
  }
}
.lte-ie8 #global-header .header-wrapper .header-global .header-logo {
  width: auto;
}

.govuk-header__tna-logo {
    width: 33.33%;
	float: left;
}